<section class="chat column">
  <div class="chat--main">
      <h2>Cumpleaños</h2>
      <div class="chat--main-hb">
          <img src="../../assets/img/gif.png" alt="">
          <span>
              Hoy es el cumpleaños de <strong>Garzón Sándra </strong> y <strong>Lorena Guzman</strong>
          </span>
      </div>
  </div>

  <div class="chat__header">
      <h3>Contactos</h3>
      <img src="../../assets/img/more.png" alt="">
  </div>

  <div class="chat__list">
      <div class="chat__list--item">
          <img src="../../assets/img/profile-pics/profile_pic1.jpg" alt="">
          <span>Fernanda Cabrera</span>
      </div>
      <div class="chat__list--item">
          <img src="../../assets/img/profile-pics/profile_pic2.jpg" alt="">
          <span>William Gomez</span>
      </div>
      <div class="chat__list--item">
          <img src="../../assets/img/profile-pics/profile_pic3.jpg" alt="">
          <span>Edwin Castillo Rivera</span>
      </div>
      <div class="chat__list--item">
          <img src="../../assets/img/profile-pics/profile_pic4.jpg" alt="">
          <span>Jenny Barbosa</span>
      </div>
      <div class="chat__list--item">
          <img src="../../assets/img/profile-pics/profile_pic5.jpg" alt="">
          <span>JaYmme Osorio</span>
      </div>
  </div>


</section>
