<section class="wall column">
  <div class="wall__container">
    <div class="wall__my-post">
      <div class="wall__my-post--content">
        <img
          src="../../assets/img/profile_pic.jpg"
          class="wall__my-post--content--pic"
          alt=""
        />
        <div class="wall__my-post--content--button" (click)="openDialog()">
          ¿Qué estás pensando, Nildiert?
        </div>
      </div>
      <div class="wall__my-post--footer">
        <div class="wall__my-post--footer-item">
          <img src="../../assets/img/wall-img.png" alt="" />
          <span>
            Foto/video
          </span>
        </div>
        <div class="wall__my-post--footer-item">
          <img src="../../assets/img/wall-tag.png" alt="" />
          <span>
            Etiquetar amigos
          </span>
        </div>
        <div class="wall__my-post--footer-item">
          <img src="../../assets/img/wall-feel.png" alt="" />
          <span>
            Sentimiento/actividad
          </span>
        </div>
      </div>
    </div>

    <div class="wall__post" *ngFor="let post of posts">
      <div class="wall__post--header">
        <img src="../../assets/img/profile_pic.jpg" class="" alt="" />
        <div class="wall__post--header--publisher">
          <a href="">Nildiert Jimenez</a>
          <span>{{ getCreationTime(post.creationDate?.toDate()) }}</span>
        </div>

        <div class="wall__post--header--more">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Editar</span>
            </button>
            <button mat-menu-item disabled>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="wall__post--text">
        {{ post.text }}
      </div>

      <ng-container>
        <div *ngIf="post.img" class="wall__post--img"></div>
      </ng-container>
      <div class="wall__post--buttons">
        <button>Me gusta</button>
        <button>Comentar</button>
        <button>Compartir</button>
      </div>
    </div>

    <div class="wall__post">
      <div class="wall__post--header">
        <img src="../../assets/img/profile_pic.jpg" class="" alt="" />
        <div class="wall__post--header--publisher">
          <a href="">Nildiert Jimenez</a>
          <span>9 min</span>
        </div>
        <div class="wall__post--header--more">
          <img src="../../assets/img/more.png" alt="" />
        </div>
      </div>
      <div class="wall__post--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore at
        omnis dignissimos qui ex in repudiandae quos! Maiores eaque voluptate
        quibusdam corrupti, iste accusamus debitis repellendus amet, vitae, eum
        illum.
      </div>
      <div class="wall__post--img">
        <img src="../../assets/img/test-img.jpg" alt="" />
      </div>
      <div class="wall__post--buttons">
        <button>Me gusta</button>
        <button>Comentar</button>
        <button>Compartir</button>
      </div>
    </div>
  </div>
</section>
