<section class="sidenav column">
  <div class="sidenav--main">
      <h1>Inicio</h1>
      <div class="sidenav--item">
          <img src="../../assets/img/profile_pic.jpg" class="" alt="">
          <span>Nildiert Jimenez</span>
      </div>
  </div>
  <div class="sidenav--list">
      <div class="sidenav--item">
          <img src="../../assets/img/friends.png" alt="">
          <span>Amigos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/group.png" alt="">
          <span>Grupos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/marketplace.png" alt="">
          <span>Marketplace</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/video.png" alt="">
          <span>Videos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/events.png" alt="">
          <span>Eventos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/friends.png" alt="">
          <span>Amigos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/memories.png" alt="">
          <span>Recuerdos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/save.png" alt="">
          <span>Guardado</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/pages.png" alt="">
          <span>Paginas</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/works.png" alt="">
          <span>Empleos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/messenger.png" alt="">
          <span>Messenger</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/recommendations.png" alt="">
          <span>Recomendaciones</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/emergencies.png" alt="">
          <span>Respuesta ante emergencias</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/recents.png" alt="">
          <span>Más recientes</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/weather.png" alt="">
          <span>Clima</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/founds_recommendation.png" alt="">
          <span>Recaudaciones de fondos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/games.png" alt="">
          <span>Juegos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/buy-and-sell.png" alt="">
          <span>Grupos de compraventa</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/publicitary-activity.png" alt="">
          <span>Actividad publicitaria reciente</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/offers.png" alt="">
          <span>Ofertas</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/game-videos.png" alt="">
          <span>Videos de juegos</span>
      </div>
      <div class="sidenav--item">
          <img src="../../assets/img/notes.png" alt="">
          <span>Notas</span>
      </div>
  </div>

  <footer class="footer">
      <div class="footer--list">
          <a href="">Privacidad</a>
          <a href="">Condiciones</a>
          <a href="">Publicidad</a>
          <a href="">Opciones de anuncios</a>
          <a href="">Cookies</a>
          <a href="">Más</a>
          <a href="">Facebook 2020</a>
      </div>

  </footer>


</section>
